@{
    ViewData["Title"] = "Pagina Pacient";
}

<div class="container-acasa" id="container-adaugare-pacienti">
    <div class="formular formular-accesare">
        <div class="row">
            <div class="col-1 col-md-1 col-sm-1 col-lg-1 div-logo">
                <a href="@Url.Action("AcasaMedic", "Acasa", new{medic_id = @ViewBag.pacient.id_medic})"><img src="~/images/logo.svg"/></a>
            </div>
            <h1 class="text-center titlu-acasa col-10 titlu-accesare">Pagină Pacient - @(ViewBag.pacient.nume_pacient) @(ViewBag.pacient.prenume_pacient)</h1>        
            <div class="div-buton col-1 col-md-1 col-sm-1 col-lg-1">
                <a role="button" data-bs-toggle="modal"  data-bs-target="#logoutModal" class="btn btn-danger btn-circle "><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </div>
        </div>

@*        <form id="formular_adaugare" method="post" autocomplete="off">                         

            <fieldset>
                <legend>Date demografice:</legend>
                <div class="row">
                    <input hidden id="input-id-medic-pacient" name="id_medic" value="@ViewBag.IdMedic" />
                    <div class="mb-3 col-5">
                        <label for="recipient-name" class="col-form-label">Nume:</label>
                        <input type="text" class="form-control" id="input-nume-pacient" name="nume_pacient" onfocusout='validareText(event, "text")'/>
                        <span id="eroare-input-nume-pacient" class="text-danger"></span>
                    </div>
                    <div class="col-1"></div>
                    <div class="mb-3 col-5">
                        <label for="message-text" class="col-form-label">Prenume:</label>
                        <input type="text" class="form-control" id="input-prenume-pacient" name="prenume_pacient" onfocusout='validareText(event, "text")'/>
                        <span id="eroare-input-prenume-pacient" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-1">
                        <label for="message-text" class="col-form-label">Sex:</label>
                        <input type="text" disabled class="form-control" id="input-sex-pacient" name="sex_pacient"/>
                    </div>
                </div>

                <div class="row">    
                    <div class="mb-3 col-5">
                        <label for="message-text" class="col-form-label">CNP:</label>
                        <input required  type="number" class="form-control" id="input-cnp" name="CNP" onfocusout="calculareVarstaSiDataNasterii()"/>
                        <span id="eroare-cnp" class="text-danger"></span>
                    </div>
                    <div class="col-1"></div>
                    <div class="mb-3 col-2">
                        <label for="message-text" class="col-form-label">Vârstă:</label>
                        <input type="number" disabled class="form-control" id="input-varsta-pacient" name="varsta_pacient"/>
                    </div>
                    <div class="mb-3 col-2">
                        <label for="message-text" class="col-form-label">Data nașterii:</label>
                        <input type="text" disabled class="form-control" id="input-nastere-pacient" name="data_nasterii_pacient"/>
                    </div>
                </div>
           
                <div class="row">
                    <div class="mb-3 col-3">
                        <label for="message-text" class="col-form-label">Județ:</label>
                        <br />
                        <div class="select_box">
                            <select required  name="judet_pacient" id="judet">
    	                        <option value="Alba">Alba</option>
    	                        <option value="Arges">Arges</option>
    	                        <option value="Arad">Arad</option>
    	                        <option value="Bucuresti" >Bucuresti</option>
    	                        <option value="Bacau">Bacau</option>
    	                        <option value="Bihor">Bihor</option>
    	                        <option value="Bistrita">Bistrita</option>
    	                        <option value="Braila">Braila</option>
    	                        <option value="Botosani">Botosani</option>
    	                        <option value="Brasov">Brasov</option>
    	                        <option value="Buzau">Buzau</option>
    	                        <option value="Cluj">Cluj</option>
    	                        <option value="Calarasi">Calarasi</option>
    	                        <option value="Caras-Severin">Caras-Severin</option>
    	                        <option value="Constanta">Constanta</option>
    	                        <option value="Covasna">Covasna</option>
    	                        <option value="Dambovita">Dambovita</option>
    	                        <option value="Dolj">Dolj</option>
    	                        <option value="Gorj">Gorj</option>
    	                        <option value="Galati">Galati</option>
    	                        <option value="Giurgiu">Giurgiu</option>
    	                        <option value="Hunedoara">Hunedoara</option>
    	                        <option value="Harghita">Harghita</option>
    	                        <option value="Ilfov">Ilfov</option>
    	                        <option value="Ialomita">Ialomita</option>
    	                        <option value="Iasi">Iasi</option>
    	                        <option value="Mehedinti">Mehedinti</option>
    	                        <option value="Maramures">Maramures</option>
    	                        <option value="Mures">Mures</option>
    	                        <option value="Neamt">Neamt</option>
    	                        <option value="Olt">Olt</option>
    	                        <option value="Prahova">Prahova</option>
    	                        <option value="Sibiu">Sibiu</option>
    	                        <option value="Salaj">Salaj</option>
    	                        <option value="Satu-Mare">Satu-Mare</option>
    	                        <option value="Suceava">Suceava</option>
    	                        <option value="Tulcea">Tulcea</option>
    	                        <option value="Timis">Timis</option>
    	                        <option value="Teleorman">Teleorman</option>
    	                        <option value="Valcea">Valcea</option>
    	                        <option value="Vrancea">Vrancea</option>
    	                        <option value="Vaslui">Vaslui</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="mb-3 col-3">
                        <label for="message-text" class="col-form-label">Oraș:</label>
                        <input type="text" class="form-control" id="input-oras-pacient" name="oras_pacient" onfocusout='validareText(event, "text")'/>
                        <span id="eroare-input-oras-pacient" class="text-danger"></span>
                    </div>

                    <div class="mb-3 col-6">
                        <label for="message-text" class="col-form-label">Strada:</label>
                        <input required  type="text" class="form-control" id="input-strada-pacient" name="strada_pacient" onfocusout='validareText(event, "")'/>
                        <span id="eroare-input-strada-pacient" class="text-danger"></span>

                    </div>
                </div>
            
                <div class="row">
                    <div class="mb-3 col-3">
                        <label for="message-text" class="col-form-label">Nr. telefon:</label>
                        <input type="text" class="form-control" id="input-telefon-pacient" name="numar_telefon_pacient" onfocusout='validareText(event, "numar")'/>
                        <span id="eroare-input-telefon-pacient" class="text-danger"></span>
                    </div>

                    <div class="mb-3 col-3">
                        <label for="message-text" class="col-form-label">Email:</label>
                        <input  type="email" class="form-control" rgx=@str id="input-email-pacient" name="email_pacient" onfocusout='validareText(event, "email")'/>
                        <span id="eroare-input-email-pacient" class="text-danger"></span>
                    </div>
                </div>
            
                <div class="row">
                    <div class="mb-3 col-5">
                        <label for="message-text" class="col-form-label">Profesie:</label>
                        <input class="form-control" type="text" id="input-profesie-pacient" name="profesie_pacient" onfocusout='validareText(event, "text")' />
                        <span id="eroare-input-profesie-pacient" class="text-danger"></span>
                    </div>
                    <div class="col-1"></div>
                    <div class="mb-3 col-5">
                        <label for="message-text" class="col-form-label">Loc de muncă:</label>
                        <input required  class="form-control" type="text" id="input-locmunca-pacient" name="loc_de_munca_pacient" onfocusout='validareText(event, "")' />
                        <span id="eroare-input-locmunca-pacient" class="text-danger"></span>

                    </div>
                </div>

            </fieldset>

            <br />

            <fieldset>
                <legend>Istoric medical:</legend>
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">Diagnostice:</label>
                    <textarea required  class="form-control" type="text" id="input-diagnostice-pacient" name="diagnostice_pacient"></textarea>
                </div>
        
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">Tratamente:</label>
                    <textarea required  class="form-control" type="text" id="input-tratamente-pacient" name="tratamente_pacient"></textarea>
                </div>
        
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">Lista de alergii:</label>
                    <textarea required  class="form-control" type="text" id="input-alergii-pacient" name="alergii_pacient"></textarea>
                </div>
        
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">Recomandări medicale:</label>
                    <textarea required  class="form-control" type="text" id="input-recomandari-pacient" name="recomandari_pacient"></textarea>
                </div>
        
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">Scheme de medicație:</label>
                    <textarea required  class="form-control" type="text" id="input-medicatie-pacient" name="medicatie_pacient"></textarea>
                </div>
            </fieldset>

               <div class="modal-footer butoane_adauga_pacient">
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Inchide</button>
                   <button class="btn btn-primary buton-adauga" type="submit">Adauga</button>
               </div>
        </form>*@
       
        

        <div class="modal-footer butoane_adauga_pacient butoane_accesare_pacient">
             <button class="btn btn-primary buton-adauga buton-accesare" type="button" onclick="location.href='@Url.Action("FisaPacient","Pacient",new { id_pacient = @ViewBag.pacient.id_pacient })'">Vizualizare fișă</button>
             <button class="btn btn-primary buton-adauga buton-accesare" type="button">Vizualizare grafice/rapoarte</button>
             <button class="btn btn-primary buton-adauga buton-accesare" type="button" onclick="location.href='@Url.Action("RecomandariSiInterventii","Pacient",new { id_pacient = @ViewBag.pacient.id_pacient, id_ingrijitor = @ViewBag.pacient.id_ingrijitor })'">Recomandări și intervenții</button>
             <button class="btn btn-primary buton-adauga buton-accesare" type="button" onclick="location.href='@Url.Action("ArhivaConsultatii","Pacient",new { id_pacient = @ViewBag.pacient.id_pacient, nume_pacient = @ViewBag.pacient.nume_pacient, prenume_pacient = @ViewBag.pacient.prenume_pacient, id_medic=@ViewBag.pacient.id_medic })'">Arhivă consultații</button>
             <button class="btn btn-primary buton-adauga buton-accesare" type="button">Alarme</button>
             <button class="btn btn-primary buton-adauga buton-accesare" type="button" data-bs-target="#ArhivarePacientModal" data-bs-toggle="modal" onclick=sendId("@(ViewBag.pacient.id_pacient)#@(ViewBag.pacient.id_medic)")>Arhivare pacient</button>
        </div>




    </div>

    <div class="modal fade " id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Deconectare</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">   
                        @using (Html.BeginForm("Deconectare", "Acasa", new{id_cont=""}, FormMethod.Post, true, new{id = "formDeconectare"}))
                                {
                            <p>Sunteți sigur că doriți să vă deconectați?</p>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nu</button>
                                    <button class="btn btn-primary" type="submit" id="buttonDaPacient">Da</button>
                                  </div>
                        }
                    </div>
                </div>
            </div>
        </div>

         <div class="modal fade " id="ArhivarePacientModal" tabindex="-1" aria-labelledby="ArhivarePacientModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Arhivare pacient</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">   
                        @using (Html.BeginForm("ArhivarePacient", "Pacient", new{id_pacient=""}, FormMethod.Post, true, new{id = "formArhivare_pacient"}))
                                {
                            <p>Sunteți sigur că doriți să arhivați acest pacient?</p>
                                  <div class="modal-footer">
                                    <input class="form-control" type="text" hidden name="id_uri" id="id_uri"/>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nu</button>
                                    <button class="btn btn-primary" type="submit" id="buttonDaPacient">Da</button>
                                  </div>
                        }
                        

                    </div>
                </div>
            </div>
        </div>

</div>

<script>

    function sendId(id){
        document.getElementById("formArhivare_pacient").setAttribute("id_pacient", id);
        document.getElementById("formArhivare_pacient").setAttribute("action", "ArhivarePacient" + "/" + id);
        document.getElementById("id_uri").value = id;
    }

</script>