@{
    ViewData["Title"] = "Pagina Acasa - Medic";
}

<div class="container-acasa">
    <div class="row">
        <h1 class="text-center titlu-acasa col-10 col-md-10 col-sm-10 col-lg-11">Listă Pacienți</h1>
         <div class="div-buton col-1 col-md-1 col-sm-1 col-lg-1">
            <a role="button" data-bs-toggle="modal"  data-bs-target="#logoutModal" class="btn btn-danger btn-circle "><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>
    </div>

    <div class="row linie_listaPacienti">

        <div class="col-3">
            <div class="input-group rounded search_pacienti">
                <input id="search" type="search" class="form-control rounded" placeholder="Search..." aria-label="Search" aria-describedby="search-addon" />
                <a class="button_search">
                    <i class="fas fa-search"></i>
                </a>
            </div>
        </div>

        <div class="col-2">
            <a type="button" class="buton_sortare"><img class="imagine_sortare" src="~/images/AZ.svg"/></a>
@*            <a type="button" class="buton_sortare"><img class="imagine_sortare" src="~/images/ZA.svg"/></a>
*@        </div>
        <div class="col-3"></div>
        <div class="col-2">
            <button class="btn btn-lg btn-block button-login button_home" type="button" onclick="location.href='@Url.Action("AdaugarePacient","Acasa",new { id_medic = @ViewBag.id_medic })'" >Adăugare pacient</button>
        </div>
        
        <div class="col-2">
            <button class="btn btn-lg btn-block button-login button_home" type="submit" >Arhivă</button>
        </div>
    </div>


    <div class="tab-content">
          <div id="pacienti" class="tab-pane fade show active" role="tabpanel" aria-labelledby="pacienti-tab">
            @*<h3 class="titlu-tab">Pacienți</h3>*@
            <table class="table table-striped" id="tabel-pacienti">
                <thead>
                    <tr>
                        <th>CNP</th>
                        <th>Prenume</th>
                        <th>Nume</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   @foreach(var pacienti in ViewBag.pacientiLista)
                        {
                            <tr>
                            <td>@(pacienti.CNP)</td>
                            <td>@(pacienti.prenume_pacient)</td>
                            <td>@(pacienti.nume_pacient)</td>
                            <td>@(pacienti.email_pacient)</td>
                            <td class="text-center">
                                <button id="accesare_pacienti" type="button" onclick="location.href='@Url.Action("AccesarePacient","Pacient",new { id_pacient = pacienti.id_pacient })'"  class="btn buton-accesare-pacient btn-circle">Accesare pacient</button>
                            </td>
                            </tr>

                        }                   
                
                </tbody>
            </table>
          </div>
    </div>

    <div class="modal fade " id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Deconectare</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">   
                        @using (Html.BeginForm("Deconectare", "Acasa", new{id_cont=""}, FormMethod.Post, true, new{id = "formDeconectare"}))
                                {
                            <p>Sunteți sigur că doriți să vă deconectați?</p>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nu</button>
                                    <button class="btn btn-primary" type="submit" id="buttonDaPacient">Da</button>
                                  </div>
                        }
                    </div>
                </div>
            </div>
        </div>

</div>


<script>

        $("#search").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#tabel-pacienti tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
        // document.getElementById("search").addEventListener("keyup", function() {
        //  var value = this.value.toLowerCase();
        //  document.getElementById("tabel-pacienti tr").filter(function() {
        //    this.toggle(this.text().toLowerCase().indexOf(value) > -1)
        //  });
        //});

</script>
