@{
    ViewData["Title"] = "Pagina Acasa - Administrator";
}
<div class="container-acasa">
    <div class="row">
        <h1 class="text-center titlu-acasa col-10 col-md-10 col-sm-10 col-lg-11">Administrare Conturi</h1>
        <div class="div-buton col-1 col-md-1 col-sm-1 col-lg-1">
            <a role="button" data-bs-toggle="modal"  data-bs-target="#exampleModal" class="btn btn-adauga-verde btn-circle "><i class="fa-solid fa-plus"></i></a>
            <a role="button" data-bs-toggle="modal"  data-bs-target="#logoutModal" class="btn btn-danger btn-circle "><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>
</div>

    @if (TempData["Mesaj"] != null)  
        {  
            <script type="text/javascript">  
                window.onload = function () {  
                    alert("@TempData["Mesaj"]");  
                };  
            </script>  
        }  

    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pacienti-tab" data-bs-toggle="tab" data-bs-target="#pacienti" type="button" role="tab" aria-controls="pacienti" aria-selected="true">Pacienți</button>
      <li class="nav-item" role="presentation">
         <button class="nav-link" id="medici-tab" data-bs-toggle="tab" data-bs-target="#medici" type="button" role="tab" aria-controls="medici" aria-selected="false">Medici</button>
      <li class="nav-item" role="presentation">
          <button class="nav-link" id="supraveghetori-tab" data-bs-toggle="tab" data-bs-target="#supraveghetori" type="button" role="tab" aria-controls="supraveghetori" aria-selected="false">Supraveghetori</button>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="ingrijitori-tab" data-bs-toggle="tab" data-bs-target="#ingrijitori" type="button" role="tab" aria-controls="ingrijitori" aria-selected="false">Îngrijitori</button>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="cereri-tab" data-bs-toggle="tab" data-bs-target="#cereri" type="button" role="tab" aria-controls="cereri" aria-selected="false">Cereri</button>
    </ul>

    <div class="tab-content">
      <div id="pacienti" class="tab-pane fade show active" role="tabpanel" aria-labelledby="pacienti-tab">
        @*<h3 class="titlu-tab">Pacienți</h3>*@
        <table class="table table-striped" id="tabel-pacienti">
            <thead>
                <tr>
                    <th>Prenume</th>
                    <th>Nume</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
               @foreach(var pacienti in ViewBag.pacientiLista)
                    {
                        <tr>
                        <td>@(pacienti.prenume_pacient)</td>
                        <td>@(pacienti.nume_pacient)</td>
                        <td>@(pacienti.email_pacient)</td>
                        <td>
                            <a id="delete_pacienti" role="button" data-bs-toggle="modal"  data-bs-target="#deleteModal" onclick=sendId("@(pacienti.id_pacient)") data-bs-id="@(pacienti.id_pacient)" class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></a>
                        </td>
                        </tr>

                    }                   
                
            </tbody>
        </table>
      </div>
      <div id="medici" class="tab-pane fade" role="tabpanel" aria-labelledby="medici-tab">
        <table class="table table-striped" id="tabel-pacienti">
            <thead>
                <tr>
                    <th>Prenume</th>
                    <th>Nume</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
               @foreach(var medici in ViewBag.mediciLista)
                    {
                        <tr>
                        <td>@(medici.prenume_medic)</td>
                        <td>@(medici.nume_medic)</td>
                        <td>@(medici.email_medic)</td>
                        <td>
                            <a  id="delete_medici" class="btn btn-danger btn-circle" role="button" data-bs-toggle="modal" onclick=sendId("@(medici.id_medic)")  data-bs-target="#deleteModal" data-bs-id="@(medici.id_medic)" ><i class="fas fa-trash"></i></a>
                        </td>
                        </tr>

                    }      
            </tbody>
        </table>
      </div>
      <div id="supraveghetori" class="tab-pane fade" role="tabpanel" aria-labelledby="supraveghetori-tab">
         <table class="table table-striped" id="tabel-pacienti">
            <thead>
                <tr>
                    <th>Prenume</th>
                    <th>Nume</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var supraveghetor in ViewBag.supraveghetoriLista)
                    {
                        <tr>
                        <td>@(supraveghetor.prenume_supraveghetor)</td>
                        <td>@(supraveghetor.nume_supraveghetor)</td>
                        <td>@(supraveghetor.email_supraveghetor)</td>
                        <td>
                            <a  id="delete_supraveghetori" class="btn btn-danger btn-circle" role="button" data-bs-toggle="modal" onclick=sendId("@(supraveghetor.id_supraveghetor)")  data-bs-target="#deleteModal" data-bs-id="@(supraveghetor.id_supraveghetor)"><i class="fas fa-trash"></i></a>
                        </td>
                        </tr>

                    }      
            </tbody>
        </table>
      </div>
      <div id="ingrijitori" class="tab-pane fade" role="tabpanel" aria-labelledby="ingrijitori-tab">
         <table class="table table-striped" id="tabel-pacienti">
            <thead>
                <tr>
                    <th>Prenume</th>
                    <th>Nume</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var ingrijitor in ViewBag.ingrijitoriLista)
                    {
                        <tr>
                        <td>@(ingrijitor.prenume_ingrijitor)</td>
                        <td>@(ingrijitor.nume_ingrijitor)</td>
                        <td>@(ingrijitor.email_ingrijitor)</td>
                        <td>
                            <a id="delete_ingrijitori" class="btn btn-danger btn-circle" role="button" data-bs-toggle="modal" onclick=sendId("@(ingrijitor.id_ingrijitor)")  data-bs-target="#deleteModal" data-bs-id="@(ingrijitor.id_ingrijitor)"><i class="fas fa-trash"></i></a>
                        </td>
                        </tr>

                    }    
            </tbody>
        </table>
      </div>
   
    <div id="cereri" class="tab-pane fade show" role="tabpanel" aria-labelledby="cereri-tab">
        @*<h3 class="titlu-tab">Pacienți</h3>*@
        <table class="table table-striped" id="tabel-cereri">
            <thead>
                <tr>
                    <th>Medic</th>
                    <th>CNP</th>
                    <th>Prenume</th>
                    <th>Nume</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
               @foreach(var pacientiCereri in ViewBag.cereriLista)
                    {
                        <tr>
                        <td>@(pacientiCereri.id_medic)</td>
                        <td>@(pacientiCereri.CNP)</td>
                        <td>@(pacientiCereri.prenume_pacient)</td>
                        <td>@(pacientiCereri.nume_pacient)</td>
                        <td>@(pacientiCereri.email_pacient)</td>
                        <td>
                            <a id="adauga_pacienti" role="button" data-bs-toggle="modal"  data-bs-target="#adaugaModal" onclick=sendData("@(pacientiCereri.id_medic)#@(pacientiCereri.CNP)#@(pacientiCereri.prenume_pacient)#@(pacientiCereri.nume_pacient)#@(pacientiCereri.email_pacient)#@(pacientiCereri.judet_pacient)#@(pacientiCereri.oras_pacient)#@(pacientiCereri.strada_pacient)#@(pacientiCereri.numar_telefon_pacient)#@(pacientiCereri.profesie_pacient)#@(pacientiCereri.loc_de_munca_pacient)#@(pacientiCereri.id_ingrijitor)#@(pacientiCereri.id_supraveghetor)") class="btn btn-success btn-circle"><i class="fa-solid fa-plus"></i></a>
                        </td>
                        </tr>

                    }                   
                
            </tbody>
        </table>
      </div>
    </div>

      <div class="modal fade " id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ștergere cont</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">   
                        @using (Html.BeginForm("DeleteAccount", "Acasa", new{id_cont=""}, FormMethod.Post, true, new{id = "formDelete_pacient"}))
                                {
                            <p>Sunteți sigur că doriți să ștergeți acest cont?</p>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nu</button>
                                    <button class="btn btn-primary" type="submit" id="buttonDaPacient">Da</button>
                                  </div>
                        }
                        
@*                        <form asp-controller="Acasa" asp-action="Delete" method="delete" id="formDelete_pacient">                     
                        </form>*@
                    </div>
                </div>
            </div>
        </div>

         <div class="modal fade " id="adaugaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Creeaza cont</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">   
                        @using (Html.BeginForm("CreatePacientAccount", "Acasa", new{string_date=""}, FormMethod.Post, true, new{id = "formCreate_pacient"}))
                                {
                            <p>Introduceți o parolă: </p>
                            <input class="form-control" type="password" name="parola_cerere_pacient" id="parola_cerere_pacient"/>
                            <input class="form-control" type="text" hidden name="date_pacient" id="date_pacient"/>

                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anulează</button>
                                    <button class="btn btn-primary" type="submit" id="buttonCreeazaPacient">Creează</button>
                                  </div>
                        }
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade " id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Deconectare</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">   
                        @using (Html.BeginForm("Deconectare", "Acasa", new{id_cont=""}, FormMethod.Post, true, new{id = "formDeconectare"}))
                                {
                            <p>Sunteți sigur că doriți să vă deconectați?</p>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nu</button>
                                    <button class="btn btn-primary" type="submit" id="buttonDaPacient">Da</button>
                                  </div>
                        }
                        
@*                        <form asp-controller="Acasa" asp-action="Delete" method="delete" id="formDelete_pacient">                     
                        </form>*@
                    </div>
                </div>
            </div>
        </div>


   <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Creare cont nou</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          
        <form id="formular_adaugare" method="post" autocomplete="off">
           <div class="mb-3">
            <label for="message-text" class="col-form-label">Alegeți tipul contului:</label>
                <select name="tipuri" id="tipuri" onchange="selectareTip()">
                  <option value="medic">Medic</option>
                  <option value="supraveghetor">Supraveghetor</option>
                  <option value="ingrijitor">Îngrijitor</option>
                </select>
          </div>

          <div id="adaugare-medic">
               <partial name="_AdaugareMedic" /> 
          </div>

          <div id="adaugare-supraveghetor">
                <partial name="_AdaugareSupraveghetor" /> 
          </div>

          <div id="adaugare-ingrijitor">
                <partial name="_AdaugareIngrijitor" />   
          </div>

           <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Închide</button>
            <button class="btn btn-primary" type="submit">Adaugă</button>
         </div>
        </form>
      </div>
    </div>
  </div>
</div>

</div>


<script>
    function selectareTip(){
        var valoare = document.getElementById("tipuri").value;
        document.getElementById("formular_adaugare").reset();
        document.getElementById("tipuri").value = valoare;
        var adaugare_medic = document.getElementById("adaugare-medic");
        var adaugare_ingrijitor = document.getElementById("adaugare-ingrijitor");
        var adaugare_supraveghetor = document.getElementById("adaugare-supraveghetor");
        if(valoare=="medic")
        {
            adaugare_medic.style.display="block";
            adaugare_ingrijitor.style.display= "none";
            adaugare_supraveghetor.style.display= "none";
        }
        else if(valoare=="ingrijitor")
        {
            adaugare_ingrijitor.style.display="block";
            adaugare_supraveghetor.style.display= "none";
            adaugare_medic.style.display="none";
        }
        else if(valoare=="supraveghetor")
        {
            adaugare_supraveghetor.style.display="block";
            adaugare_medic.style.display="none";
            adaugare_ingrijitor.style.display= "none";
        }
    }


    function sendId(id_cont){

        document.getElementById("formDelete_pacient").setAttribute("id_cont", id_cont);
        document.getElementById("formDelete_pacient").setAttribute("action", "/" + id_cont);

    }

    function sendData(data) {
        document.getElementById("formCreate_pacient").setAttribute("string_date", data);
        document.getElementById("date_pacient").value=data;
    }


</script>

